# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Jamestown,US,42.0970,-79.2353,42.53,44,0,10.36,clear sky
1,Sao Filipe,CV,14.8961,-24.4956,82.94,49,55,16.73,broken clouds
2,Torbay,CA,47.6666,-52.7314,35.76,86,100,19.57,light snow
3,Blackwater,AU,-23.5833,148.8833,67.68,25,42,8.81,scattered clouds
4,Saint George,US,37.1041,-113.5841,34.39,51,0,4.61,clear sky
5,Arraial Do Cabo,BR,-22.9661,-42.0278,84.16,65,40,28.77,scattered clouds
6,Ancud,CL,-41.8697,-73.8203,56.16,93,100,9.26,light rain
7,Beringovskiy,RU,63.0500,179.3167,-9.11,97,9,13.20,clear sky
8,Hermanus,ZA,-34.4187,19.2345,69.80,70,59,8.84,broken clouds
9,Kapaa,US,22.0752,-159.3190,72.19,86,89,1.01,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Sao Filipe,CV,14.8961,-24.4956,82.94,49,55,16.73,broken clouds
5,Arraial Do Cabo,BR,-22.9661,-42.0278,84.16,65,40,28.77,scattered clouds
23,Cabo San Lucas,MX,22.8909,-109.9124,78.51,59,23,1.01,few clouds
29,Samana,DO,19.2056,-69.3369,85.96,79,40,9.22,scattered clouds
30,Kudahuvadhoo,MV,2.6708,72.8944,81.50,76,25,13.27,scattered clouds
31,Atuona,PF,-9.8000,-139.0333,78.28,73,3,19.24,clear sky
35,Lujan,AR,-34.5703,-59.1050,77.13,35,0,8.01,clear sky
36,Georgetown,MY,5.4112,100.3354,82.33,89,40,3.44,scattered clouds
45,Victoria,HK,22.2855,114.1577,77.18,93,100,10.00,overcast clouds
46,Bambous Virieux,MU,-20.3428,57.7575,77.25,83,75,5.75,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
preferred_cities_df.isnull().sum()

City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()
# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Sao Filipe,CV,14.8961,-24.4956,82.94,49,55,16.73,broken clouds
5,Arraial Do Cabo,BR,-22.9661,-42.0278,84.16,65,40,28.77,scattered clouds
23,Cabo San Lucas,MX,22.8909,-109.9124,78.51,59,23,1.01,few clouds
29,Samana,DO,19.2056,-69.3369,85.96,79,40,9.22,scattered clouds
30,Kudahuvadhoo,MV,2.6708,72.8944,81.50,76,25,13.27,scattered clouds
31,Atuona,PF,-9.8000,-139.0333,78.28,73,3,19.24,clear sky
35,Lujan,AR,-34.5703,-59.1050,77.13,35,0,8.01,clear sky
36,Georgetown,MY,5.4112,100.3354,82.33,89,40,3.44,scattered clouds
45,Victoria,HK,22.2855,114.1577,77.18,93,100,10.00,overcast clouds
46,Bambous Virieux,MU,-20.3428,57.7575,77.25,83,75,5.75,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
1        Sao Filipe      CV     82.94       broken clouds  14.8961  -24.4956
5   Arraial Do Cabo      BR     84.16    scattered clouds -22.9661  -42.0278
23   Cabo San Lucas      MX     78.51          few clouds  22.8909 -109.9124
29           Samana      DO     85.96    scattered clouds  19.2056  -69.3369
30     Kudahuvadhoo      MV     81.50    scattered clouds   2.6708   72.8944
31           Atuona      PF     78.28           clear sky  -9.8000 -139.0333
35            Lujan      AR     77.13           clear sky -34.5703  -59.1050
36       Georgetown      MY     82.33    scattered clouds   5.4112  100.3354
45         Victoria      HK     77.18     overcast clouds  22.2855  114.1577
46  Bambous Virieux      MU     77.25       broken clouds -20.3428   57.7575

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Filipe,CV,82.94,broken clouds,14.8961,-24.4956,
5,Arraial Do Cabo,BR,84.16,scattered clouds,-22.9661,-42.0278,
23,Cabo San Lucas,MX,78.51,few clouds,22.8909,-109.9124,
29,Samana,DO,85.96,scattered clouds,19.2056,-69.3369,
30,Kudahuvadhoo,MV,81.50,scattered clouds,2.6708,72.8944,
31,Atuona,PF,78.28,clear sky,-9.8000,-139.0333,
35,Lujan,AR,77.13,clear sky,-34.5703,-59.1050,
36,Georgetown,MY,82.33,scattered clouds,5.4112,100.3354,
45,Victoria,HK,77.18,overcast clouds,22.2855,114.1577,
46,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Filipe,CV,82.94,broken clouds,14.8961,-24.4956,Hotel Xaguate
5,Arraial Do Cabo,BR,84.16,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
23,Cabo San Lucas,MX,78.51,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
29,Samana,DO,85.96,scattered clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
30,Kudahuvadhoo,MV,81.50,scattered clouds,2.6708,72.8944,Niyama Private Islands Maldives
31,Atuona,PF,78.28,clear sky,-9.8000,-139.0333,Villa Enata
35,Lujan,AR,77.13,clear sky,-34.5703,-59.1050,Hotel Biarritz
36,Georgetown,MY,82.33,scattered clouds,5.4112,100.3354,Cititel Penang
45,Victoria,HK,77.18,overcast clouds,22.2855,114.1577,Mini Central
46,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,Casa Tia Villa

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
# Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df = hotel_df.replace("", np.nan, regex=True)
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Filipe,CV,82.94,broken clouds,14.8961,-24.4956,Hotel Xaguate
5,Arraial Do Cabo,BR,84.16,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
23,Cabo San Lucas,MX,78.51,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
29,Samana,DO,85.96,scattered clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
30,Kudahuvadhoo,MV,81.50,scattered clouds,2.6708,72.8944,Niyama Private Islands Maldives
...,...,...,...,...,...,...,...
690,Camopi,GF,90.68,broken clouds,3.1655,-52.3158,La pousada
692,Amahai,ID,79.79,overcast clouds,-3.3333,128.9167,HOTEL ISABELA
693,Kota Bahru,MY,76.01,scattered clouds,6.1333,102.2386,Grand Riverview Hotel
695,Umm Lajj,SA,80.01,broken clouds,25.0213,37.2685,Moon light Furnished Units
707,Bull Savanna,JM,82.22,overcast clouds,17.8868,-77.5902,Big Red's

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [14]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index=False)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [17]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Bannister - Hotel & Yacht Club</dd>\n<dt>City</dt><dd>Samana</dd>\n<dt>Country</dt><dd>DO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 85.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Niyama Private Islands Maldives</dd>\n<dt>City</dt><dd>Kudahuvadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Biarritz</dd>\n<dt>City</dt><dd>Lujan</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.25 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   14.8961  -24.4956
5  -22.9661  -42.0278
23  22.8909 -109.9124
29  19.2056  -69.3369
30   2.6708   72.8944
31  -9.8000 -139.0333
35 -34.5703  -59.1050
36   5.4112  100.3354
45  22.2855  114.1577
46 -20.3428   57.7575

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [19]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig
## take picture of the map

Figure(layout=FigureLayout(height='420px'))